<template name="inventario">

	<div class=well>
		
		Ingresar unidades de contraste
  	  <div class="form-group">
		  <label for="nombre">Nombre</label>
		  	<div class="row">
	  		  <div class="col-xs-3">
				  <select  class="form-control" id="nombre" name="nombre">
 					  
					  <option>DOTAREM</option>
 					  <option>GADOVIST</option>
					  <option>PRIMOVIST</option>
 					  
					  <option>XENETIX  300</option>
	 				 <option>GASTROVIEW</option>
	 				<option>HEXABRIX 320</option>
 				 
			     </select>
			 </div>
		  </div>
		  
		  <label for="nombre">Sede</label>
		  	<div class="row">
	  		  <div class="col-xs-3">
				  <select  class="form-control" id="sede" name="sede">
 					  
					  <option>CENTRO</option>
 					  <option>POBLADO</option>
					  <option>CDR</option>
 					  
					  <option>LA 80</option>
	 				
 				 
			     </select>
			 </div>
		  </div>
		  
		  <label for="nombre">#</label>
		  	<div class="row">
	  		  <div class="col-xs-2"> 
					 <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Cantidad">
			   
			 </div>
		  </div>
		 
		  		<button type="button" class="btn btn-primary">Ingresar</button>
	  	      
	  </div>
	</div>

</template>